/************************************************************
** CONTENIDO INDEX 
*************************************************************/
.container-content h2 {
	float: left;
	width: 100%;
	color: #ffF;
	padding: 10px 20px;
	font-size: 21px;
	margin: 20px 0 0 0;
	background: #999;
	font-family: 'GothamHTF-Medium';
}
.container-content h2.type-2 {
	background: #00AAEB;
}
h2.type-3 {
	font-size: 21px;
	color: #545454;
	background: #ccc;
	padding: 40px 30px;
	float: left;
	width: 100%;
	margin: 0;
	margin-bottom: 40px;
}
.container-content .content {
	background: #e0e0e0;
	padding: 0px;
}
@media (max-width: 992px){
	.container-content .content .select_type_2 {
		margin: 15px 0;
	}
	.select_checkboxes {
		top: 50px;
	}
}