body {
	background-color: rgb(207,207,207);
	font-family: 'GothamNarrow-Medium';
}

a { 
	font-family:'GothamNarrow-Medium', Helvetica, Arial, sans-serif; 
	font-size:13px; 
	font-stretch:condensed; 
	letter-spacing:0pt; 
	line-height:119%; 
	color: #00A9EE;
	text-align:left;
}
/*a:visited {
	color: #004C72;
}*/
a:hover {
	color: #00A9EE;
}
a:active {
	color: #FFA600;
}
.label {
	background-image: url('../../img/bg-pattern-label.png');
	background-repeat: repeat;
}
.label-info{
	background-color: rgb(0,169,238);
}
.label-warning {
	background-color:rgb(255,169,0);
}

/*****************content***************************/	
.div-content {margin-bottom:1px;}	
.initTemplate { margin-top: 52px; }

.btn-primary {  
	background-color: rgb(0,169,238);
	border-color: rgb(0,169,238);
}
.btn-primary:focus,
.btn-primary:hover {  
	background-color: rgb(0,169,238);
}
.container { 
	padding-left: 0px;
	padding-right: 0px; 
}
.outpadding { 
	padding-left: 0px;
	padding-right: 0px; 
}
.container>.navbar-header, 
.container-fluid>.navbar-header, 
.container>.navbar-collapse, 
.container-fluid>.navbar-collapse { 
	margin-right: 0px; 
	margin-left: 0px; 
}
.icon-bar { width: 98%;}

.background-conteiner-content{ 
	background-color: #ECECEC; 
}
.background-conteiner-social{ 
	background-color: #F8F8F8;	
	background-image: url('../../img/Social/IDB_Pattern200_BG3_Gray.png'); 
}

.row-outmargin { 
	margin-left: 0px; 
	margin-right: 0px; 
}
.mifiic {
	font-weight:bold;
	float: left;
	padding-top: 18px;
	font-weight: bold;
	padding-right: 13px;
}

.row { margin-left: 0px; margin-right: 0px; }
.bannerpublication { padding: 0px; }
.data-list img  { width: 52px; float: left;}
.row-item { font-size: 18px; color: #1586C4;}
.row-item span{ display: block; font-size: 14px; color: #666666;}
.row-item span.quantity{ font-size: 11px; }
.row-item > div > div { border-top: 1px solid #fff; height: 90px; padding: 8px 15px; }
.row-item:last-child > div > div { border-bottom: 1px solid #fff; height: 90px; padding: 8px 15px; }
.row-item .col-xs-1{ padding: 0px; }

.search-publications { background-color: #E5E5E5; margin-top: 30px;}
.search-publications button.btn.btn-primary.glyphicon.glyphicon-search{font-size: 25px; }
.search-publications .title-label{font-size: 25px;}
.search-publications > div:first-child { background-color: #CCCCCC; padding: 20px 15px; }

.form-control{ height: 50px; padding: 0 15px; text-transform: uppercase; }
.label { padding: .5em 1.0em .6em; } 

.data-list .most { height: 80px; padding: 50px 0px 0px 77px}


/***************Logo menu********************************/
.navbar-brand {
	padding: 7px 9px 0px 16px; 
	background-color:#ffffff;
}
.navbar-header a:hover {
	padding: 7px 9px 0px 16px;
	background-color:#fff;
}

/************************************************************
** CUSTOM SELECTS 
*************************************************************/
.cs-select {
	padding: 0 !important;
}
.cs-select .cs-placeholder {
	border: none;
	background: #0079A5;
	color: #EDEEEE;
	padding: 6px 45px 6px 20px;
	border: 1px solid #EDEEEE;
	font-size: 14px;
	text-overflow: ellipsis;
}
.cs-select .cs-options {
	overflow: auto;
	max-height: 420px;
	border: none;
	display: none;
	background: #DDD;
	color: #1785C3;
	opacity: 0;
	-webkit-transition: opacity 0.2s, visibility 0s 0.2s;
	transition: opacity 0.2s, visibility 0s 0.2s;
}
.cs-select.cs-active .cs-options {
	display: block;
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	padding: 0 !important;
}
.cs-select .cs-options li:first-child {
	border-top: 1px solid #0079A5;
}
.cs-select .cs-options li {
	border-bottom: 1px solid #0079A5;
	margin: 0 !important;
}
.cs-select .cs-options li span{
	font-size: 13px;
	padding: 10px 20px;
	white-space: inherit;
	text-overflow: inherit;
}
.cs-select .cs-options li:hover span{
	color: #fff;
	background: #00AAEB;
}
.cs-select > span::after {
	right: 0;
	padding: 0 5px;
	font-size: 62px;
	line-height: 32px;
	top: 40%;
}
.cs-select.cs-active > span::after {
	border-left: 0;
	top: 60%;
}

/* Global search */
.cs-select.global .cs-placeholder {
	font-size: 21px;
	padding: 10px 36px 10px 20px;
}
.cs-select.global .cs-options li span {
	font-size: 16px;
}

/* Local search */
.cs-select.cs-active.local_search .cs-placeholder,
.cs-select.cs-active.select_type_1 .cs-placeholder {
	background: #FFA800;
	border-color: #E0E0E0;
}
.cs-select.local_search .cs-options,
.cs-select.select_type_1 .cs-options {
	color: #666;
	background: #EEE;
}
.cs-select.local_search .cs-options li,
.cs-select.select_type_1 .cs-options li {
	border-color: #FFF;
}
.cs-select.local_search .cs-options li:hover span,
.cs-select.select_type_1 .cs-options li:hover span {
	color: #FFA800;
	background: inherit;
}
.cs-select.local_search > span::after,
.cs-select.select_type_1 > span::after {
	border-left: 2px solid #FFF;
	font-size: 32px;
	padding: 10px;
	top: 50%;
}
.cs-select.cs-active.local_search > span::after,
.cs-select.cs-active.select_type_1 > span::after {
	border-right: 2px solid #FFF;
	border-left: none;
}

/* Select Type 2 */
.cs-select.select_type_2 .cs-placeholder {
	background: #EEE;
	color: #1687C4;
	border-color: #0085C8;
}
.cs-select.select_type_2 .cs-options {
	background: #EEE;
	color: #1687C4;
}
.cs-select.select_type_2 > span::after {
	border-left: 2px solid #0085C8;
	font-size: 32px;
	padding: 10px;
	top: 50%;
}
.cs-select.cs-active.select_type_2 > span::after{
	border-right: 2px solid #0085C8;
	border-left: none;
}
.cs-select.select_type_2 .cs-options li:hover span{
	color: #fff;
	background: #00AAEB;
}

.cs-select .cs-selected span {
	background: #FFA800 !important;
	color: #fff !important;
}
.cs-select .cs-selected span::after {
	content: "";
}


/************************************************************
** SLIDER 
*************************************************************/
.jcarousel li {
	position: relative;
}
.leyenda {
	position: absolute;
	margin: 0;
	bottom: 0;
	background-color: rgba(2, 55, 83, 0.5);
	background-image: url('../../img/bg-pattern-slider.png');
	background-repeat: repeat;
}
.leyenda h2 {
	font-size: 18px;
	line-height: 90%;
	font-family: 'GothamHTF-Bold';
}
.leyenda .description {
	font-family: 'GothamNarrow-Book';
	font-size: 12px;
	line-height: normal;
	padding-bottom: 20px;
	display: none;
}
.leyenda .see_comparison {
	color: #fff;
	font-family: 'gotham-extra-narrow-medium';
}
.leyenda .see_comparison span{
	font-size: 12px;
	display: inline-block;
	vertical-align: middle;
}
.leyenda .see_comparison span.icon {
	margin-right: 5px;
}
.container_countries .icon {
	float: right;
	line-height: 100%;
	font-size: 100px;
}
.container_countries .icon-target {
	color: rgb(255,166,0);
	font-size: 22px !important;
	position: absolute;
	z-index: 100;
	top: 35%;
	right: 45%;
}
.jcarousel-control-prev {
	left: inherit;
	right: 90px;
}
.jcarousel-control-next {
	left: inherit;
	right: 20px;
}
@media(min-width:767px){ 
	.leyenda h2 {
		font-size: 30px;
	}
	.leyenda .description {
		font-size: 18px;
		display: block;
	}
	.leyenda .see_comparison span{
		font-size: 17px;
	}
	.container_countries .icon {
		font-size: 120px;
	}
	.outpadding {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media(min-width:992px) {
	.leyenda h2 {
		font-size: 50px;
	}
	.leyenda .description {
		font-size: 21px;
	}
	.container_countries .icon {
		font-size: 130px;
	}
}
@media(min-width:1200px) {
	.content-body {
		padding-left: 30px;
		padding-right: 0;
	}
	.container_countries .icon {
		font-size: 150px;
	}
	.container {width: 1280px; }
	.bannerpublication { margin-top: 57px; }
}

/************************************************************
** PAGINATION 
*************************************************************/
.pagination li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}
.pagination li a{
	border: 1px solid #fff;
	background: inherit;
	color: #858585;
}
.pagination li a:hover {
	color: #858585;
}
.pagination li.active a,
.pagination li.active a:hover {
	background-color: #9C9C9C;
	border-top-color: #999;
	border-left-color: #777;
	border-right-color: #777;
	border-bottom-color: #5F5F5F;
}
.pagination li.first,
.pagination li.previous,
.pagination li.last,
.pagination li.next {
	margin: 0;
}
.pagination li.first a,
.pagination li.previous a,
.pagination li.last a,
.pagination li.next a {
	border: none;
}
.pagination li.first a,
.pagination li.next a {
	border-right: 1px solid #fff; 
}

/************************************************************
** CENTERED HEIGHT 
*************************************************************/
.container_centered_height {
	text-align: center;
}
.container_centered_height:before {
	content: '';
	display: inline-block;
	height: 100%; 
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}
.centered_height {
	display: inline-block;
	vertical-align: middle;
	float: none;
}