
.wrapper { max-width: 100%; padding: 0px 0px 0px 0px; margin-left: auto; margin-right: auto; }
.jcarousel-wrapper { position: relative; border: 0px solid #fff; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-box-shadow: 0 0 0px #999; -moz-box-shadow: 0 0 0px #999; box-shadow: 0 0 0px #999; }
/** Carousel **/
.jcarousel { position: relative; overflow: hidden; width: 100%; }
.jcarousel ul { width: 20000em; position: relative; list-style: none; margin: 0; padding: 0; }
.jcarousel li { width: 100%; float: left; border: 0px solid #fff; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.jcarousel img { display: block; max-width: 100%; height: auto !important; }

/** Carousel Controls **/
.jcarousel-control-prev { left: 240px; }
.jcarousel-control-next { left: 310px; }
a.jcarousel-control-next:hover,
a.jcarousel-control-prev:hover{ text-decoration: none; }
.jcarousel-control-prev,
.jcarousel-control-next { position: absolute; top: 91%; margin-top: -15px;text-decoration: none;  }
span.icon.icon-btn-filledarrow-left,
span.icon.icon-btn-filledarrow-right{ color: #CBCBCB; font-size: 29px; }
span.icon.icon-btn-filledarrow-left:hover, span.icon.icon-btn-filledarrow-right:hover{ color: #00C2FF; }


.leyenda { margin-top: -222px; position: relative; background-color: rgba(37, 32, 32, 0.5) ;padding: 10px;} 
.leyenda { color: #fff; text-transform: uppercase; }
.leyenda h2 { font-family: "HelveticaNeueLTPro-BdCn"; font-size: 4.5em; padding: 10px 0px 2px 0px; margin: 0px; line-height: 45px;}
.leyenda p { font-size: 1.4em; line-height: 27px; }

@media(min-width:768px){ 
	span.icon.icon-btn-filledarrow-left,
	span.icon.icon-btn-filledarrow-right{ font-size: 31px; }
}
@media(min-width:992px){ 
	span.icon.icon-btn-filledarrow-left,
	span.icon.icon-btn-filledarrow-right{ font-size: 32px; }
}
@media(min-width:1200px){ 
	.jcarousel li { width: 1280px;}
	.wrapper { max-width: 1280px 	}
	span.icon.icon-btn-filledarrow-left,
	span.icon.icon-btn-filledarrow-right{ font-size: 34px; }
}