
@font-face {
	font-family: 'GothamHTF-Black';
	src: url('gothamHTF/GothamHTF-Black.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-Black.woff') format('woff'), url('gothamHTF/GothamHTF-Black.ttf') format('truetype'), url('gothamHTF/GothamHTF-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-BlackItalic';
	src: url('gothamHTF/GothamHTF-BlackItalic.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-BlackItalic.woff') format('woff'), url('gothamHTF/GothamHTF-BlackItalic.ttf') format('truetype'), url('gothamHTF/GothamHTF-BlackItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-Bold';
	src: url('gothamHTF/GothamHTF-Bold.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-Bold.woff') format('woff'), url('gothamHTF/GothamHTF-Bold.ttf') format('truetype'), url('gothamHTF/GothamHTF-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-BoldCondensed';
	src: url('gothamHTF/GothamHTF-BoldCondensed.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-BoldCondensed.woff') format('woff'), url('gothamHTF/GothamHTF-BoldCondensed.ttf') format('truetype'), url('gothamHTF/GothamHTF-BoldCondensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-BoldItalic';
	src: url('gothamHTF/GothamHTF-BoldItalic.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-BoldItalic.woff') format('woff'), url('gothamHTF/GothamHTF-BoldItalic.ttf') format('truetype'), url('gothamHTF/GothamHTF-BoldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-Book';
	src: url('gothamHTF/GothamHTF-Book.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-Book.woff') format('woff'), url('gothamHTF/GothamHTF-Book.ttf') format('truetype'), url('gothamHTF/GothamHTF-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-BookCondensed';
	src: url('gothamHTF/GothamHTF-BookCondensed.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-BookCondensed.woff') format('woff'), url('gothamHTF/GothamHTF-BookCondensed.ttf') format('truetype'), url('gothamHTF/GothamHTF-BookCondensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-BookItalic';
	src: url('gothamHTF/GothamHTF-BookItalic.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-BookItalic.woff') format('woff'), url('gothamHTF/GothamHTF-BookItalic.ttf') format('truetype'), url('gothamHTF/GothamHTF-BookItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-Light';
	src: url('gothamHTF/GothamHTF-Light.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-Light.woff') format('woff'), url('gothamHTF/GothamHTF-Light.ttf') format('truetype'), url('gothamHTF/GothamHTF-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-LightCondensed';
	src: url('gothamHTF/GothamHTF-LightCondensed.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-LightCondensed.woff') format('woff'), url('gothamHTF/GothamHTF-LightCondensed.ttf') format('truetype'), url('gothamHTF/GothamHTF-LightCondensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-LightItalic';
	src: url('gothamHTF/GothamHTF-LightItalic.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-LightItalic.woff') format('woff'), url('gothamHTF/GothamHTF-LightItalic.ttf') format('truetype'), url('gothamHTF/GothamHTF-LightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-Medium';
	src: url('gothamHTF/GothamHTF-Medium.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-Medium.woff') format('woff'), url('gothamHTF/GothamHTF-Medium.ttf') format('truetype'), url('gothamHTF/GothamHTF-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-MediumCondensed';
	src: url('gothamHTF/GothamHTF-MediumCondensed.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-MediumCondensed.woff') format('woff'), url('gothamHTF/GothamHTF-MediumCondensed.ttf') format('truetype'), url('gothamHTF/GothamHTF-MediumCondensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-Thin';
	src: url('gothamHTF/GothamHTF-Thin.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-Thin.woff') format('woff'), url('gothamHTF/GothamHTF-Thin.ttf') format('truetype'), url('gothamHTF/GothamHTF-Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-ThinItalic';
	src: url('gothamHTF/GothamHTF-ThinItalic.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-ThinItalic.woff') format('woff'), url('gothamHTF/GothamHTF-ThinItalic.ttf') format('truetype'), url('gothamHTF/GothamHTF-ThinItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-Ultra';
	src: url('gothamHTF/GothamHTF-Ultra.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-Ultra.woff') format('woff'), url('gothamHTF/GothamHTF-Ultra.ttf') format('truetype'), url('gothamHTF/GothamHTF-Ultra.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-UltraItalic';
	src: url('gothamHTF/GothamHTF-UltraItalic.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-UltraItalic.woff') format('woff'), url('gothamHTF/GothamHTF-UltraItalic.ttf') format('truetype'), url('gothamHTF/GothamHTF-UltraItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-XLight';
	src: url('gothamHTF/GothamHTF-XLight.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-XLight.woff') format('woff'), url('gothamHTF/GothamHTF-XLight.ttf') format('truetype'), url('gothamHTF/GothamHTF-XLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamHTF-XLightItalic';
	src: url('gothamHTF/GothamHTF-XLightItalic.eot');
	src: local('☺'), url('gothamHTF/GothamHTF-XLightItalic.woff') format('woff'), url('gothamHTF/GothamHTF-XLightItalic.ttf') format('truetype'), url('gothamHTF/GothamHTF-XLightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}