
@font-face {
  font-family: 'Gotham-Black';
  src: url('gotham/Gotham-Black.eot?#iefix') format('embedded-opentype'),  url('gotham/Gotham-Black.otf')  format('opentype'),
	     url('gotham/Gotham-Black.woff') format('woff'), url('gotham/Gotham-Black.ttf')  format('truetype'), url('gotham/Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-BlackItalic';
  src: url('gotham/Gotham-BlackItalic.eot?#iefix') format('embedded-opentype'),  url('gotham/Gotham-BlackItalic.otf')  format('opentype'),
	     url('gotham/Gotham-BlackItalic.woff') format('woff'), url('gotham/Gotham-BlackItalic.ttf')  format('truetype'), url('gotham/Gotham-BlackItalic.svg#Gotham-BlackItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  url('gotham/Gotham-Bold.otf')  format('opentype'),
	     url('gotham/Gotham-Bold.woff') format('woff'), url('gotham/Gotham-Bold.ttf')  format('truetype'), url('gotham/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-BoldItalic';
  src: url('gotham/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('gotham/Gotham-BoldItalic.otf')  format('opentype'),
	     url('gotham/Gotham-BoldItalic.woff') format('woff'), url('gotham/Gotham-BoldItalic.ttf')  format('truetype'), url('gotham/Gotham-BoldItalic.svg#Gotham-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('gotham/Gotham-Book.otf')  format('opentype'),
	     url('gotham/Gotham-Book.woff') format('woff'), url('gotham/Gotham-Book.ttf')  format('truetype'), url('gotham/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-BookItalic';
  src: url('gotham/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),  url('gotham/Gotham-BookItalic.otf')  format('opentype'),
	     url('gotham/Gotham-BookItalic.woff') format('woff'), url('gotham/Gotham-BookItalic.ttf')  format('truetype'), url('gotham/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-ExtraLight';
  src: url('gotham/Gotham-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('gotham/Gotham-ExtraLight.otf')  format('opentype'),
	     url('gotham/Gotham-ExtraLight.woff') format('woff'), url('gotham/Gotham-ExtraLight.ttf')  format('truetype'), url('gotham/Gotham-ExtraLight.svg#Gotham-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-ExtraLightItalic';
  src: url('gotham/Gotham-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),  url('gotham/Gotham-ExtraLightItalic.otf')  format('opentype'),
	     url('gotham/Gotham-ExtraLightItalic.woff') format('woff'), url('gotham/Gotham-ExtraLightItalic.ttf')  format('truetype'), url('gotham/Gotham-ExtraLightItalic.svg#Gotham-ExtraLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'),  url('gotham/Gotham-Light.otf')  format('opentype'),
	     url('gotham/Gotham-Light.woff') format('woff'), url('gotham/Gotham-Light.ttf')  format('truetype'), url('gotham/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-LightItalic';
  src: url('gotham/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),  url('gotham/Gotham-LightItalic.otf')  format('opentype'),
	     url('gotham/Gotham-LightItalic.woff') format('woff'), url('gotham/Gotham-LightItalic.ttf')  format('truetype'), url('gotham/Gotham-LightItalic.svg#Gotham-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),  url('gotham/Gotham-Medium.otf')  format('opentype'),
	     url('gotham/Gotham-Medium.woff') format('woff'), url('gotham/Gotham-Medium.ttf')  format('truetype'), url('gotham/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-MediumItalic';
  src: url('gotham/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('gotham/Gotham-MediumItalic.otf')  format('opentype'),
	     url('gotham/Gotham-MediumItalic.woff') format('woff'), url('gotham/Gotham-MediumItalic.ttf')  format('truetype'), url('gotham/Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Thin';
  src: url('gotham/Gotham-Thin.eot?#iefix') format('embedded-opentype'),  url('gotham/Gotham-Thin.otf')  format('opentype'),
	     url('gotham/Gotham-Thin.woff') format('woff'), url('gotham/Gotham-Thin.ttf')  format('truetype'), url('gotham/Gotham-Thin.svg#Gotham-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-ThinItalic';
  src: url('gotham/Gotham-ThinItalic.eot?#iefix') format('embedded-opentype'),  url('gotham/Gotham-ThinItalic.otf')  format('opentype'),
	     url('gotham/Gotham-ThinItalic.woff') format('woff'), url('gotham/Gotham-ThinItalic.ttf')  format('truetype'), url('gotham/Gotham-ThinItalic.svg#Gotham-ThinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Ultra';
  src: url('gotham/Gotham-Ultra.eot?#iefix') format('embedded-opentype'),  url('gotham/Gotham-Ultra.otf')  format('opentype'),
	     url('gotham/Gotham-Ultra.woff') format('woff'), url('gotham/Gotham-Ultra.ttf')  format('truetype'), url('gotham/Gotham-Ultra.svg#Gotham-Ultra') format('svg');
  font-weight: normal;
  font-style: normal;
}
