/************************************************************
** FOOTER 
*************************************************************/
.footer-ppal {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.footer-ppal .col-sm-2 { 
	width: 15.111112%; 
	padding-left: 7px; 
	padding-right: 0px; 
	padding-bottom: 0px
}
.footer-ppal .ppal2 .col-sm-2 { width: 20%; }
.footer-ppal .col-sm-10 { width: 93.9999%;}
.footer-second-item {width: 78%;}
.div-footer {margin:40px 0px 0px 0px;}
.ppal {margin:40px 0px 0px 0px;}
.ppal {
	background:url('../../img/footer/IDB_Pattern200_BG3_Gray.png') repeat; 
	background-color: #FFFFFF; 
	margin-top: 0px; 
	padding-top: 40px;
	min-height: 100%; 
	height: 380px; 
	padding-top: 40px; 
}
.footer-content ul {
	list-style:none; 
	margin-top:18px;
}
.ulFooter {
	padding:0px; 
	margin:0px;
}
.ulFooter li {margin-bottom:5px;}
.footer-content a {
	color:rgb(49,49,50); 
	font-family: 'GothamNarrow-Book';
	font-size:14px; 
	letter-spacing:0pt; 
	line-height:18px; 
	text-align:left; 
	padding-bottom:6px;
}
.footer-content span {
	color:rgb(49,49,50); 
	font-weight:bold; 
	font-family: 'GothamNarrow-Medium';
	font-size:19px; 
	letter-spacing:0pt; 
	line-height:18px; 
	text-align:left;
	text-transform: uppercase;
}
.footer-gray {
	background:url('../../img/footer/IDB_Pattern200_BG3_Gray.png') repeat; 
	background-color: #F7F7F7; 
	padding:0px;
	float: left;
	width: 100%;
}
.right-line {float:right;} 
.left-line {float: left; }
.right-line,
.left-line {
	width: 29px; 
	background:url('../../img/footer/IDB_Pattern200_BG3_Blue.png'); 
	background-repeat: repeat; 
	background-color: #ECECEC;
	min-height: 390px; 
	height: 100%;
}

.footer-social,.footer-social-mb {
	position: relative; 
	float: left;  
	height: 44px; 
	margin-top: 10px;
}
.footer-social a,.footer-social-mb a {
	display:block;
	width:38px; 
	height:38px; 
	padding-left: 
}
.blogs {
	background:url('../../img/footer/footer-items.png') no-repeat; 
	background-position:-37px -1px; 
	float:left; 
	margin-right:9px;
}
.youtube {
	background:url('../../img/footer/footer-items.png') no-repeat; 
	background-position:-119px -2px; 
	float:left; 
	margin-right:9px;
}
.fb {
	background:url('../../img/footer/footer-items.png') no-repeat; 
	background-position:1px -48px; 
	float:left; 
	margin-right:9px;
}
.tw {
	background:url('../../img/footer/footer-items.png') no-repeat; 
	background-position:-83px -47px; 
	float:left; 
	margin-right:9px;
}
a.blogs:hover {background-position:-78px 0px;}
a.youtube:hover {background-position:-162px -3px;}
a.fb:hover {background-position:-41px -47px;}
a.tw:hover {background-position:-128px -45px;}
.links-footer {
	margin: 0px; 
	padding: 0px 0px 0px 136px; 
	position: relative;
	float: left; 
}
.links-footer a, .links-footer li {
	color:rgb(49,49,50); 
	font-family: 'GothamNarrow-Medium';
	font-size:13px; 
	letter-spacing:0pt; 
	line-height:423%; 
	text-align:left;
}
.footer-mb .BdCn a {font-family: 'GothamNarrow-Bold';}
.margi40 { margin-top: 40px}
.footer-mb {
	float: left;
	width: 100%;
	display:none;
}
.panel-group .panel+.panel { 
	margin-top: 2px; 
}
.no-padding {
	padding: 0;
}

.description_footer {
	float: left;
	width: 100%;
	background: #ECECEC;
	padding: 20px 40px;
	font-family: 'GothamNarrow-Light';
	color: #535353;
	font-size: 13px;
}

@media(min-width:767px){
	.outpadding { padding-left: 10px; padding-right: 10px; }
	.outpadding.content-center { padding-left: 10px; padding-right: 0px; }
}
@media(min-width:992px){
	.footer-content span { font-size:14px; }

	.footer-social, .footer-social-mb {  }
	.links-footer {padding: 0px 0px 0px 0px; }
	.navbar-nav.navbar-right:last-child { margin-right: -11px; }

	/***************Content********************************/
	.main-content{margin-top: 0px;}
	.div-content a { font-size:13px; }
	.div-content span { font-size:21px; }
}
@media(min-width:1200px){
	.footer-content span { font-size:19px; }
	.footer-ppal .col-sm-2 { padding-left: 20px;}
	.footer-social, .footer-social-mb {  }
	.links-footer {padding: 0px 0px 0px 0px; }
	.footer-social,.footer-social-mb {margin-top: 40px;}
	.footer-second-item {width: 80%;}
	.btnsearch { padding: 0; width: 79px; height: 50px; }
	.divsubmenu li:first-child {border-top:1px #CCC solid; }
}
@media(max-width:767px){
	/*****************Footer***************************/
	.footer-mb a, .btn-collap .panel-body a{color:rgb(49,49,50); font-family:"GothamNarrow-Book"; font-size:14px; letter-spacing:0pt; line-height:18px; text-align:left; padding-bottom:6px;}
	.footer-mb span,.panel a{color:rgb(49,49,50); font-family:"GothamNarrow-Medium"; font-size:16px; letter-spacing:0pt; line-height:18px; text-align:left;}	
	.footer-ppal {display:none;}
	.footer-mb {display:block;background:url('../../img/footer/IDB_Pattern200_BG3_Gray.png') repeat; background-color: #F7F7F7; position: relative;}
	.div-first-footer {margin:30px 0px 0px 45px;}
	.div-first-footer ul{list-style:none;}	
	.btn-collap {padding:0px;}
	.btn-collap .panel-body a{display:block;}
	.btn-mas {margin:0px; padding:0px; display:block; background:url('../../img/footer/footer-items.png') no-repeat; background-position:-4px -20px; width:27px; height:27px;}
	.text-left {float:left;position: relative;top: 4px;margin-left:28px;}
	.btn-mas {float:right;position: relative;bottom: 1px;}	
	.heading-title{height:43px;background-color:#DDDDDD;}
	.panel-default > .panel-heading {background:#DDDDDD !important;}
	.panel-default {background:none repeat scroll 0% 0% transparent; border:none;}
	.collapsed span {background-position:-170px -50px;}
	.content-div-footermb {margin-left:28px;background:#FFF;}
	.line-blue-mb {}
	.div-second-footer ul{margin-left:40px;}
	.footer-social-mb {margin:35px 0px 10px 45px;}
	.div-second-footer ul li a{font-size:12px;}
	.footer-up {display:block; background-color:#AAAAAA; height:40px;margin-top:20px;}
	.footer-up a {display:block; width:30px; height:30px; background:url('../../img/footer/footer-items.png') no-repeat; background-position:-203px 1px;position: relative;top: 3px; float:right;}
}
@media (max-width:992px) { 
	/*****************Footer***************************/
	.footer-mb a, .btn-collap .panel-body a{color:rgb(49,49,50); font-family:"GothamNarrow-Book"; font-size:14px; letter-spacing:0pt; line-height:18px; text-align:left; padding-bottom:6px;}
	.footer-mb span,.panel a{color:rgb(49,49,50);  font-family:"GothamNarrow-Medium"; font-size:19px; letter-spacing:0pt; line-height:18px; text-align:left; text-transform: uppercase;}	
	.footer-ppal {display:none;}
	.footer-mb { margin-top: 20px; display:block;background:url('../../img/footer/IDB_Pattern200_BG3_Gray.png') repeat; background-color: #F7F7F7; position: relative;}
	.div-first-footer {margin:30px 0px 0px 45px;}
	.div-first-footer ul{list-style:none; margin-top: 10px;}	
	.btn-collap {padding:0px;}
	.btn-collap .panel-body a{display:block;}
	.btn-mas {margin:0px; padding:0px; display:block; background:url('../../img/footer/footer-items.png') no-repeat; background-position:-4px -20px; width:27px; height:27px;}
	.text-left {float:left;position: relative;top: 4px;margin-left:28px;}
	.btn-mas {float:right;position: relative;bottom: 1px;}	
	.heading-title{height:43px;background-color:#DDDDDD;}
	.panel-default > .panel-heading {background:#DDDDDD !important;}
	.panel-default {background:none repeat scroll 0% 0% transparent; border:none;}
	.collapsed span {background-position:-170px -50px;}
	.content-div-footermb {margin-left:28px;background: rgb(240,240,240);}
	.line-blue-mb {}
	.div-second-footer ul{margin-left:24px;}
	.footer-social-mb {margin:35px 0px 10px 24px;}
	.div-second-footer ul li a{font-size:13px;}
	.footer-up {display:block; background-color:#AAAAAA; height:40px;margin-top:20px;}
	.footer-up a {display:block; width:30px; height:30px; background:url('../../img/footer/footer-items.png') no-repeat; background-position:-203px 1px;position: relative;top: 3px; float:right;}

	.left-line {position: absolute;}
}