/***************Logo menu********************************/
a.navbar-brand {
	padding: 7px 9px 0px 16px;
	background-color:#fff;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}

a.navbar-brand.logoIDB_es {
	background-image: url('../../img/logos/es/bid-logo.jpg');
}
a.navbar-brand.logoIDB_en {
	background-image: url('../../img/logos/en/bid-logo.jpg');
}
a.navbar-brand.logoIDB_pt {
	background-image: url('../../img/logos/pt/bid-logo.jpg');
}
a.navbar-brand.logoIDB_fr {
	background-image: url('../../img/logos/fr/bid-logo.jpg');
}

a.navbar-brand.logoIDB_es:hover {
	background-image: url('../../img/logos/es/bid-logo-line.jpg');
}
a.navbar-brand.logoIDB_en:hover {
	background-image: url('../../img/logos/en/bid-logo-line.jpg');
}
a.navbar-brand.logoIDB_pt:hover {
	background-image: url('../../img/logos/pt/bid-logo-line.jpg');
}
a.navbar-brand.logoIDB_fr:hover {
	background-image: url('../../img/logos/fr/bid-logo-line.jpg');
}

ul.nav.navbar-nav li a {  
	background-color: transparent; 
}
.nav-languaje-sec li a,
.nav-languaje ul.nav.navbar-nav li a { 
	color: rgb(175,175,175); 
	font-size: 13px; 
	text-transform: uppercase;
}
.nav-languaje-sec li a:hover,
.nav-languaje-sec li a:active,
.nav-languaje-sec li a:focus,
.nav-languaje ul.nav.navbar-nav li a:hover,
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
	background-color: transparent;
	color: rgb(0,169,238);
}

.divsubmenu ul { margin-bottom: 0px ;}
.menu-mobile { 
	margin-top: 51px;
}

hr.hr-mb {
	margin: 0px; 
	border-top: 4px solid rgb(211,211,211); 
	width: 100%;
}

.hidden-lg #nav-main {width: 100%;}

.mific-center a.mific,
.nav-languaje ul.nav.navbar-nav li a.mific { 
	font-weight: bold; 
	font-family: 'GothamNarrow-Ultra';
	letter-spacing: 2px;
	font-size: 17px; 
	color: #2F2F31; 
	padding: 15px 5px 0px 5px; 
	text-decoration: none; 
}
.nav-languaje ul.nav.navbar-nav li a {
	padding: 16px 14px 0 14px;
}
.nav-languaje ul.nav.navbar-nav li .dropdown-menu a {
	padding: 10px 14px;
	text-align: right;
}
.mific-center a.mific:focus,
.mific-center a.mific:hover,
.nav-languaje ul.nav.navbar-nav li a.mific:hover { 	
	color: rgb(0,169,238);
}
.mific-center {	
	text-align: center; 
	height: 34px; 
	vertical-align: middle;
	padding: 8px;
}
.menu-left{ background-color: #fff}
.divsubmenu .outpadding ul{
	padding-right: 0px; 
	padding-left: 0px;
}
.divsubmenu li {
	text-align: right; 
	list-style-type: none; 
}
.divsubmenu .option-ppal li { padding: 12px 5px 12px 5px;}
.divsubmenu .option-sec li { padding: 0; }
.divsubmenu .option-sec li a{ 
	font-family: 'gotham-extra-narrow-light';
	font-size: 16px;
	display: block; 
	text-align: right;
	padding: 4px 5px 4px 5px;
}
.divsubmenu .option-ppal li:first-child {margin-top: 25px;}	

#nav-submain-1 .nav.navbar-nav a {	 
	font-family: 'GothamNarrow-Medium';
	font-size: 14px;
	line-height:100%;
	color:rgb(0,169,238);
	text-align:center;
	display: block;
	text-transform: uppercase;
}
#nav-submain-1 .nav.navbar-nav li.active > a,
#nav-submain-1 .nav.navbar-nav li > a.active,
#nav-main .option-ppal li.active > a,
#nav-main .option-ppal li > a.active {	
	font-family: 'GothamNarrow-Bold';
	color:rgb(255,166,0);
}
#nav-main .option-sec li.active > a,
#nav-main .option-sec li > a.active {
	color:rgb(255,166,0);
}
#nav-submain-1 .nav.navbar-nav .nav-internal li a{ 
	font-family: 'gotham-extra-narrow-light';
	padding: 5px;
	display: block;
	text-align: left;
	font-size: 16px;
}
.nav.navbar-nav.navbar-right.blockcontainer.mifiic li span{	
	text-decoration: none;	
	font-weight: bold;	
	float: left;	
	padding-top: 18px;	
	font-weight: bold;	
	padding-right: 13px;
}
.navbar-default .title {
	color: #313132;	
	font-family: 'HelveticaNeueLTPro-Blk'; 
	font-size: 13px; 
	padding: 0px 0px 0px 0px;
}

.btn {border-radius: 0px;}
.navbar-collapse {text-align: right;}
.navbar>.container .navbar-brand, 
.navbar>.container-fluid .navbar-brand {
	margin-left: 0px;	 
	background-color: #FFFFFF; 
	width: 250px;
}
.divsubmenu li {	
	border-bottom: 1px #CCC solid; 
	padding: 0;
}
ul.list-unstyled.col-md-4.column li,
ul.list-unstyled.col-md-4.column li a {	background-color: transparent;}
			
ul.list-unstyled.col-md-4.column li:hover ~ ul.list-unstyled.col-md-4.column li a,
ul.sub-nav-languaje-sec li:focus,
ul.sub-nav-languaje-sec li:hover,
ul.sub-nav-languaje-sec li a:hover,
ul.sub-nav-languaje-sec li a:focus,
.sub-nav-languaje ul li:focus,
.sub-nav-languaje ul li:hover,
.sub-nav-languaje ul li a:hover,
.sub-nav-languaje ul li a:focus,
ul.list-unstyled.col-md-4.column>li:focus,
ul.list-unstyled.col-md-4.column>li:hover,
ul.list-unstyled.col-md-4.column>li>a:focus,
ul.list-unstyled.col-md-4.column>li>a:hover {	
	background-color: rgba(29, 173, 227, 1);	
	color: white !important;
}

.dropdown-menu { border-radius: 0px; }

.option-submenu.open{ display: block;}
.option-submenu{ display: none;}
.option-submenu.open div.arrow { 
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 25px solid #FFF;
	font-size: 0;line-height: 0;
	float: right;
	margin-right: -24px;	
}
#IDSECTORS.option-submenu.open div.arrow { margin-top: 148px;}
#IDCOUNTRIES.option-submenu.open div.arrow { margin-top: 109px;}
.dropdown-backdrop {z-index: -1;}

/* general */
.navbar-collapse { 
	text-align: right; 
}
.menu-item{
	max-width: 1200px;	
	width: 1200px; 
}
#slide-nav {
	margin: 0;
}
.navbarcolor {
	background: #E5E5E5;
	border-bottom: 6px solid #D3D3D3;
}
.nav .navbar-nav li { 
	text-transform: uppercase; 
	font-family: 'GothamNarrow-Light';
}
.divsubmenu {
	float: left;
	width: 100%;
	font-family: 'GothamNarrow-Medium'; 
	font-size:13px;
	letter-spacing:0pt; 
	line-height:119%; 
	color:rgb(33,135,193); 
	text-align:left;
}	
.divsubmenu li {
	border-bottom:1px #CCC solid; 
}	
.dropdown-menu li ul {width:176px; padding-left: 10px;}
.dropdown-menu {background-color:#FFF;}
.dropdown-menu li {width:176px;}


.btn-primary {
	background-color: rgb(0,169,238);
	border-color: rgb(0,169,238);
}

.btnsearch {
	width: 37px;
	height: 37px;
	float: right;
	font-size: 20px;
	padding: 6px 0 0 0;
}

/****************************************************************************/
/*************************Boton Menu Size XS ********************************/
/****************************************************************************/
.navbar-toggle{ 
	height: 52px; 
	width: 54px; 
	border-radius: 1px; 
	margin: 0px;
}
.navbar-toggle .icon-bar { 
	display: block;
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background-color: rgb(0,169,238) !important;
	margin-top: 5px !important;
}

/*Ocultar el boton de menu en pantalla pequeÃ±as */
.nav-global{ display: none; }
.nav-global.slide-active{
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: block; 
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
}

/*******************************************************
** Menu Item Page
********************************************************/
.itemsListInPath.menu { 
	padding: 0px; 
	margin: 0px 0px 0px 0px;
}
.itemsListInPath.menu li a.selected { 
	background-color: rgb(255,169,0); 
	color: #fff; 
}
.itemsListInPath.menu li a { 
	text-transform: uppercase; 
	color: #393939; 
	padding: 5px; 
}

@media(min-width:767px){
	.navbar-default .navbar-brand { 
		padding: 3px 20px 3px 30px !important;
	}
	.navbar-default .title { 
		font-size: 16px; 
		padding: 0px 10px 0px 10px; 
	}
	.navbar>.container .navbar-brand, 
	.navbar>.container-fluid .navbar-brand { 
		width: 307px; 
	}
}
@media(max-width:767px){
	.navbar-nav .open .dropdown-menu .divsubmenu { 
		position: fixed; 
		left: 0; 
		top: 80px; 
		bottom: 0; 
		overflow-x: scroll; 
		right: 52%; 
		float: none; 
		width: auto; 
		margin-top: 0; 
		background-color: #fff; 
		border: 46px #ccc;
		border-color: #ccc; 
		box-shadow: 1px 1px 1px #ccc; 
		border-radius: 4px; 
	}
	.navbar-nav>li>a {
		color: #777;
		text-align: right; 
	}
	div.nav-internal li {
		padding: 5px 3px;
		text-align: right; 
	}
	/*Invertir el orden de los controles Inicio*/
	.nav-option { -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; box-ordinal-group: 2; }
	.nav-controles { -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; box-ordinal-group: 1;	}

	/*Invertir el orden de los controles Fin*/
	.nav-internal ul {padding: 5px 0px 0px 10px; }

	.nav-mific{ 
		width: 50%; 
		float: left;
		text-align: center; 
		height: 37px; 
		vertical-align: middle; 
	}
	.nav-languaje{ 
		width: 50%;
		float: right;
		height: 37px; 
		vertical-align: middle;
		padding: 0px;margin: 0px; 
	}
	.nav-bloque-languaje { 
		width: 100%; 
		padding: 0px; 
		margin: 0px; 
	}
}

@media(min-width:991px){
	.navbar-nav>li { margin: 0px 2px; position: inherit; }
	.nav>li>a { padding: 20px 15px 16px 15px; }
	.nav-global.en .nav>li>a { padding: 20px 20px 16px 20px; }
	.nav>li>a:hover{ text-decoration: underline; }

	/*******************************************************
	** Menu Item Page
	********************************************************/
	.alto {height: 85px;} /*ECarmona*/
	.itemsListInPath.menu { 
		float: left;
		width: 100%;
		margin: 5px 0px 30px 0px;
	}
	.itemsListInPath.menu .menu {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0 0 0 26px;
		display: none;
	}
	.itemsListInPath.menu li.selected .menu,
	.itemsListInPath.menu li.parentSelected .menu {
		display: block;
	}
	.itemsListInPath.menu li { 
		float: left;
		width: 100%;
		position: relative;
		background-image: url('/Global/Templates/sites/IDBV3/img/footer/IDB_Pattern200_BG3_Blue.png');
		background-repeat: repeat; 
		background-color: #ECECEC; 
		min-height: 100%; 
		list-style: none;
		border-bottom: 1px solid #fff;
	}
	.itemsListInPath.menu .menu li {
		background-image: url('/Global/Templates/sites/IDBV3/img/footer/IDB_Pattern200_BG3_Gray.png');
		background-repeat: repeat;
		background-color: #F7F7F7;
	}
	.itemsListInPath.menu li .menu li:first-child {
		border-top: 1px solid #fff;
	}
	.itemsListInPath.menu li.selected { 
		background: inherit;
	} 
	.itemsListInPath.menu li .items-space {
		width: 25px; 
		background-color: rgb(0,77,114); 
		float: left;
		position: absolute;
		top: 0;
		bottom: 0;
	}
	.itemsListInPath.menu li ul.menu li .items-space {
		width: 5px; 
	}
	.itemsListInPath.menu li a { 
		float: left;
		width: 100%;
		display: block;
		z-index: 10; 
		padding: 16px 10px 16px 35px; 
		font-family:'GothamHTF-Medium';
		font-size:16px;
		color:rgb(57,57,57);
		text-align:left;
	}
	.itemsListInPath.menu li .menu li a {
		padding-left: 15px;
	}
}


@media(min-width:1200px){ 
	.navbar-nav .open .dropdown-menu .divsubmenu{ 
		background-color: #fff; 
		top: 0; 
		position: absolute;
	}
	.dropdown-menu li ul {
		width: 176px;
		padding: 10px 10px;	
		margin-left: 16px; 
		margin-right: 16px;
	}
	.navbar-nav .open a.dropdown-toggle{
		font-weight: bold;	
		color: rgb(255,166,0) !important; 
	}
	.navbar-nav .open div.arrow { 
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent; 
		border-right: 10px solid transparent; 
		border-bottom: 15px solid #fff; 
		position: absolute; 
		left: 40%; 
		bottom: -1px; 
	}
	.dropdown-menu {
		padding: 0;	
		border: 0;
		float: left;
		width: 100%;
	}
	.nav .navbar-nav li.sub-nav-languaje {
		position: relative;
	}
	.sub-nav-languaje .dropdown-menu {
		width: auto;
	}
	.nav-global{
		text-align: right;
		padding: 0px 21px;
		margin: 0px;
		display: block !important;
		height: auto !important;
		padding-bottom: 0px;
		overflow: visible !important;	
	}
	.nav-bloque-languaje { display: flex; }
	.nav-right-item > div { padding: 0px; }

	#PROJECT .divsubmenu .nav-internal { margin-left: 125px; }
	#COUNTRIES .divsubmenu .nav-internal { margin-left: 125px; }
	#SECTORS .divsubmenu .nav-internal { margin-left: 125px; }
	#RESEARCH .divsubmenu .nav-internal { margin-left: 393px; }
	#PUBLICATIONS .divsubmenu .nav-internal { margin-left: 493px; }

	.btnsearch {
		padding: 0;
		width: 79px;
		height: 50px;
	}
}


/****************************************/
/*Mostrar el menu en tables landing page*/
/****************************************/
@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

@media (min-width: 1200px) {
	.divsubmenu {
		width: 1280px;
	}
}