/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
    float: left;
}
.col-xs-height {
    display:table-cell;
    float:none;
    vertical-align: top;
}
.half {
    width: 50%;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
        float: left;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
        vertical-align: top;
    }
    .sm-half {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
        float: left;
    }
    .col-md-height {
        display:table-cell;
        float:none;
        vertical-align: top;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
        float: left;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
        vertical-align: top;
    }
}