@charset "UTF-8";

@font-face {
  font-family: "idb-icons";
  src:url("fonts/idb-icons.eot");
  src:url("fonts/idb-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/idb-icons.woff") format("woff"),
    url("fonts/idb-icons.ttf") format("truetype"),
    url("fonts/idb-icons.svg#idb-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "idb-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "idb-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="countries-"]:before,
[class*=" countries-"]:before {
  font-family: "idb-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.countries-argentina:before {
  content: "a";
}
.countries-bahamas:before {
  content: "b";
}
.countries-barbados:before {
  content: "c";
}
.countries-belize:before {
  content: "d";
}
.countries-bolivia:before {
  content: "e";
}
.countries-brazil:before {
  content: "f";
}
.countries-chile:before {
  content: "g";
}
.countries-colombia:before {
  content: "h";
}
.countries-costa-rica:before {
  content: "i";
}
.countries-dominican-republic:before {
  content: "j";
}
.countries-ecuador:before {
  content: "k";
}
.countries-el-salvador:before {
  content: "l";
}
.countries-guatemala:before {
  content: "m";
}
.countries-guyana:before {
  content: "n";
}
.countries-haiti:before {
  content: "o";
}
.countries-honduras:before {
  content: "p";
}
.countries-jamaica:before {
  content: "q";
}
.countries-mexico:before {
  content: "r";
}
.countries-nicaragua:before {
  content: "s";
}
.countries-panama:before {
  content: "t";
}
.countries-paraguay:before {
  content: "u";
}
.countries-peru:before {
  content: "v";
}
.countries-suriname:before {
  content: "w";
}
.countries-trinidad-and-tobago:before {
  content: "x";
}
.countries-uruguay:before {
  content: "y";
}
.countries-venezuela:before {
  content: "z";
}
.icon-z-circles:before {
  content: "A";
}
.icon-arrow-left:before {
  content: "B";
}
.icon-arrow-right:before {
  content: "C";
}
.icon-bars:before {
  content: "D";
}
.icon-btn-arrow-pulldown:before {
  content: "E";
}
.icon-btn-dot:before {
  content: "F";
}
.icon-btn-filledarrow-left:before {
  content: "G";
}
.icon-btn-filledarrow-right:before {
  content: "H";
}
.icon-download:before {
  content: "I";
}
.icon-email:before {
  content: "J";
}
.icon-funnel:before {
  content: "K";
}
.icon-help:before {
  content: "L";
}
.icon-icon-blogs-like:before {
  content: "M";
}
.icon-icon-blogs-share:before {
  content: "N";
}
.icon-icon-checkboxselected:before {
  content: "O";
}
.icon-icon-checkboxunselected:before {
  content: "P";
}
.icon-icon-closewindw:before {
  content: "Q";
}
.icon-icon-drawer-minus:before {
  content: "R";
}
.icon-icon-drawer-plus:before {
  content: "S";
}
.icon-icon-excel:before {
  content: "T";
}
.icon-icon-facebook:before {
  content: "U";
}
.icon-icon-fb-answer:before {
  content: "V";
}
.icon-icon-fb-chat:before {
  content: "W";
}
.icon-icon-fb-like:before {
  content: "X";
}
.icon-icon-filter-clean:before {
  content: "Y";
}
.icon-icon-filter-collapse:before {
  content: "Z";
}
.icon-icon-filter-open:before {
  content: "0";
}
.icon-icon-number1:before {
  content: "2";
}
.icon-icon-number2:before {
  content: "3";
}
.icon-icon-number3:before {
  content: "4";
}
.icon-icon-number4:before {
  content: "5";
}
.icon-icon-number5:before {
  content: "6";
}
.icon-icon-pdf:before {
  content: "7";
}
.icon-icon-projectsbycountry:before {
  content: "8";
}
.icon-icon-projectsbysector:before {
  content: "9";
}
.icon-icon-radiobuttonselected:before {
  content: "!";
}
.icon-icon-radiobuttonunselected:before {
  content: "\"";
}
.icon-icon-rss:before {
  content: "#";
}
.icon-icon-rss-bg:before {
  content: "$";
}
.icon-icon-sidebar-arrow:before {
  content: "%";
}
.icon-icon-sidebar-blog:before {
  content: "&";
}
.icon-icon-sidebar-fb:before {
  content: "'";
}
.icon-icon-sidebar-flag:before {
  content: "(";
}
.icon-icon-sidebar-twitter:before {
  content: ")";
}
.icon-icon-sidebar-youtube:before {
  content: "*";
}
.icon-icon-smedia-blogs:before {
  content: "+";
}
.icon-icon-smedia-facebook:before {
  content: ",";
}
.icon-icon-smedia-googleplus:before {
  content: "-";
}
.icon-icon-smedia-linkedin:before {
  content: ".";
}
.icon-icon-smedia-pinterest:before {
  content: "/";
}
.icon-icon-smedia-twitter:before {
  content: ":";
}
.icon-icon-smedia-ytube:before {
  content: ";";
}
.icon-icon-subsectorbreakdown:before {
  content: "<";
}
.icon-icon-twitter:before {
  content: "=";
}
.icon-icon-twitter-answer:before {
  content: ">";
}
.icon-icon-twitter-retwett:before {
  content: "?";
}
.icon-icon-twitter-starred:before {
  content: "@";
}
.icon-icon-ytube:before {
  content: "]";
}
.icon-icon-ytube-like:before {
  content: "^";
}
.icon-icon-ytube-play:before {
  content: "_";
}
.icon-search:before,
.icon-icon-search:before {
  content: "`";
}
.icon-target:before {
  content: "{";
}
.icon-icon-calendar-blog:before {
  content: "|";
}
.icon-icon-arrow-up:before {
  content: "1";
}
